 .navbar img{
  height: 60px;
  width: 15%;
  padding: 5% auto%;
}

.row{
  width:100%;
}
.footer{
  height: 120px;
  background-color: #eee;

}
.footer img{
  margin-left: 60%;
  padding-top:5%;
}
#copy{
  padding-top: 60px;
  margin: 0;
  font-size: 13px;
  width: 70%;
}
/* @media (max-width: 767px) {
    #mynav{
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
} */
