body{
  font-family: 'Quicksand', sans-serif;
  margin-top: 90px;
  padding-top: 85px;
}
.navbar img{
  height: 60px;
  width: 15%;
  padding: 5% auto;
}
@media (max-width:991px) {
  .navbar img{
    width:40%;
    margin:0 auto;
  }
  .footer img{
    margin-left: 0;
    height: 100%;
    padding-top: 15%;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top {
      position: relative;
      top: auto;
  }
  .navbar-collapse {
      max-height: none;
  }
  body {
      margin: 0;
      padding: 0;
  }
}
.justify {
    text-align:justify;
    text-justify:inter-word;
    padding-top: 10%;
}
.row{
  width: 100%;
  overflow-x: hidden;
}
.footer img{
  margin-left: 60%;
  padding-top:5%;
}
#copy{
  padding-top: 60px;
  margin: 0;
  font-size: 13px;
  width: 70%;
}
